/* Entire webpage styling and fixes */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(90, 75, 75);
    display: flex;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-direction: column; 
}

* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Header styling */

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
    
}

.logo > img {
    height: auto;
    width: auto;
    max-width:50px;
    max-height: 50px;
}

.logo {
    font-size: 10px;
}


h1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 8px;
}


.header-text {
    display: flex;  
    justify-content: space-between;
    gap: 8rem;
    flex-wrap: wrap;
}

h2 {
    max-width: 350px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}

.header-subtext {
    font-weight: 100;
    font-size: 12px;
    color: #E5E7EB;
}

.signup-1 {
    min-width: 110px;
    max-width: 110px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 5px 25px 3px;
    border-color: white;
}

.header1-image {
    display: flex;
    align-self: center;
}

.header1-image > img {
    height: auto;
    width: 250px;
}

/* Content 1 styling */

.content-1-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
}

h3 {
    display: flex;
    align-self: center;
    padding-bottom: 1rem;
    font-size: 45px;
    font-weight: 1000;
}

.content-1 {
     display: flex;
     flex-direction: column; 
}


.card-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.card1-text,
.card2-text,
.card3-text,
.card4-text  {
    display: flex;
    flex-direction: column;
    min-width:  0px;
    max-width: 210px;
}

.card-box > img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}


/* Content 2 styling */

.content-2-box {
    background-color: #9da8be;
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem 3rem;
    gap: 5rem;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center; 
}

h4 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    max-width: 600px;
    align-self: center;  
}

.quote-author {
    display: flex;
    justify-content: end;
    font-size: small;
}

/* Content 3 styling */

.content-3-box {
    background-color: #0b5536;
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem 3rem;
}

.content-3 {
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    color: white;
    padding: 1rem 1rem 1rem;  
}

.lastcall > h4,
p.action-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastcall > h4 {
    font-size: large;
    font-weight: 900;
    margin-left: 5px;
    margin-bottom: 5px
}

.action-subtext {
    font-style: italic;
    font-size: xx-small;
    margin-top: 5px;
}

.signup-2 {
    min-width: 110px;
    max-width: 110px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: darkblue;
    padding: 5px 25px 3px;
    align-self: center;
}

/* Footer styling */

.footer-box {
    background-color: #a34c9a;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
    align-items: center;
}

