/* Entire webpage styling and fixes */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(90, 75, 75);
    display: flex;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-direction: column; 
}

* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Header styling */

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
    
}

.logo > img {
    height: auto;
    width: auto;
    max-width:50px;
    max-height: 50px;
}

.logo {
    font-size: 10px;
}


h1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 8px;
}


.header-text {
    display: flex;  
    justify-content: space-between;
    gap: 8rem;
    flex-wrap: wrap;
}

h2 {
    max-width: 350px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}

.header-subtext {
    font-weight: 100;
    font-size: 12px;
    color: #E5E7EB;
}

.Signup-1 {
    max-width: 5rem;
    min-width: 4rem;
}

.header1-image {
    display: flex;
    align-self: center;
}

.header1-image > img {
    height: auto;
    width: 250px;
}

/* Content 1 styling */

.content-1-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
}

h3 {
    display: flex;
    align-self: center;
    padding-bottom: 1rem;
    font-size: 45px;
    font-weight: 1000;
}

.content-1 {
     display: flex;
     flex-direction: column; 
}


.card-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.card1-text,
.card2-text,
.card3-text,
.card4-text  {
    display: flex;
    flex-direction: column;
    min-width:  0px;
    max-width: 210px;
}

.card-box > img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}


/* Content 2 styling */

.content-2-box {
    background-color: #9da8be;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
}

/* Content 3 styling */

.content-3-box {
    background-color: #9dbeb0;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
}

/* Footer styling */

.footer {
    background-color: #1c1c4b;
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem 3rem;
    gap: 5rem;
}